PORT=8000
MONGODB_URL=mongodb+srv://ikramcoder:web1122@cluster0.qa0cq8p.mongodb.net
CORS_ORIGIN=*;
ACCESS_TOKEN_SECRET=your_long_random_secret_key_here
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=another_random_secret_key
REFRESH_TOKEN_EXPIRY=10d
